<h1>Welcome to the Rock, Paper, Scissors!</h1>
<h2>To find out the rules, navigate to the rules page!</h2>

<img src= "https://pxt.azureedge.net/blob/68f66c3ddc3acfc4c53157abf92eace202d46db2/static/courses/csintro/conditionals/rock-paper-scissors-items.png" alt="Rock, Paper, Scissors" class="center">
